.checkbox {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 5px;
    border: 1px solid #d6d2d2;
    cursor: pointer;
}
.checkbox:checked {
    background: #888;
}
