.panel {
	color: rgb(100, 100, 100);
	background-color: #fff;
	box-sizing: border-box;
	border-radius: 6px;
	font-size: 14px;
	margin-bottom: 40px;

	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
.panel .panel-header {
	display: block;
	min-height: 52px;
}
.panel .panel-header h1 {
    font-size: 15px;
    font-weight: 600;
	display: inline-block;
}
.panel .panel-tab .panel-options,
.panel .panel-header .panel-options {
    float: right;
    padding: 0;
    height: 24px;
    list-style: none;
	font-size: 0px;
}
.panel .panel-header .panel-options .btn {
	font-size: 12px;
	padding: 0px 6px;
	vertical-align: top;
	margin-left: 6px;
}
.panel .panel-tab .panel-options .input,
.panel .panel-header .panel-options .input {
	font-size: 12px;
	padding: 4px 6px;
	vertical-align: top;
	margin-left: 6px;
}
.panel .panel-body {
	display: block;
}
.panel .panel-block {
	display: block;
	background-color: #f9f9f9;
}
.panel .panel-block:last-child {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.panel .panel-footer {
	display: block;
}
.panel .panel-header,
.panel .panel-body,
.panel .panel-block,
.panel .panel-footer {
	box-sizing: border-box;
	padding: 15px 20px;
	line-height: 22px;
}
.panel .panel-body {
	padding: 20px;
}
