.panel {
	color: rgb(100, 100, 100);
	background-color: #fff;
	box-sizing: border-box;
	border-radius: 6px;
	font-size: 14px;
	margin-bottom: 40px;
}
.panel .panel-tab {
	display: block;
    border-bottom: 1px solid #f9f9f9;
    box-sizing: border-box;
    font-size: 0px;
}
.panel .panel-tab .tab-item {
	display: inline-block;
    box-sizing: border-box;
    padding: 17px 25px 12px 25px;
    border-bottom: 3px solid #fff;
    cursor: pointer;
    font-size: 14px;
}
.panel .panel-tab .tab-item-active {
    border-bottom: 3px solid #f26d21;
}
