.select-nextbox {
    display: table;
    width: 100%;
}
.select-nextbox .nextbox-column {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}
.select-nextbox .nextbox-column select {
    width: 100%;
    border: 1px solid #e9e9e9;
    height: 100%;
}
.select-nextbox .nextbox-column select option {
    box-sizing: border-box;
    padding: 4px 5px;
    font-size: 13px;
}
.select-nextbox .nextbox-column:first-child,
.select-nextbox .nextbox-column:last-child {
    vertical-align: top;
}
